.position-fixed.position-x-y.add-meme-btn-mobile-div
  %button.btn.bg-blue.rounded-circle.border.border-info{"type" => "button",
                                                        "data-bs-target" => "#addMemeModal",
                                                        "data-bs-toggle" => "modal"}
    %i.bi.bi-plus-lg.fs-3.color-white