#footer.container-fluid.mt-auto
  .row
    .col-12.d-flex.align-items-center.justify-content-center.pt-4
      %p.text-center
        %span Dominik Arnolds, Gleb Bukov
        %br/
        %span Web Engineering Project
        %br/
        %span HS-RM, WS 2021/2022