#resetPasswordModal.modal.fade{"aria-hidden" => "true",
                               "aria-labelledby" => "resetPasswordModalLabel",
                               :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-fullscreen-sm-down
    .modal-content
      .container
        .row
          .col-12.d-flex.justify-content-end.mt-3
            %button.btn-close{"aria-label" => "Close",
                              "data-bs-dismiss" => "modal",
                              :type => "button"}
          .col-12.d-flex.justify-content-center.mb-4
            %h3.fw-light
              = t('pages.index.edit_user.reset_pw')
          .col-12.px-5.mb-4
            %form
              .mb-3
                %input#resetPasswordEmail.form-control{:placeholder => "Email", :type => "email"}/
              %button.btn.btn-primary.w-100.rounded-pill{:type => "submit"}
                = t('pages.index.edit_user.reset_pw')